*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.conteiner {
    background-image: url("./img/image-home.jpg");
    height: 900px;
    background-size: cover;
}

.menu-burger {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 10px 100px 0px;
}

.logo {
    position: absolute;
    color: white;
    top: 0;
    left: 50%;
    text-align: center;
    padding: 15px 0px 0px;
}

.carrinho {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    padding: 10px 100px 0px;
}

.titulo-home {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    text-align: left;
    padding: 292px 80px 0px;
}

.titulo-home h1 {
    font-size: 80px;
}

.titulo-home p {
    font-size: 32px;
}

.botoes-home-left {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    text-align: left;
    padding: 740px 80px 0px;
}

.botoes-home-rigth {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    text-align: left;
    padding: 740px 156px 0px;
}

/*secção 02*/

.img-cafe-magico {
    display: inline-block;
    padding: 100px 80px 0px;
    width: 704px;
    height: 560px;
}

.cafe-magico {
    display: inline-block;
    width: 40%;
    padding: 155px 124px 80px;
    vertical-align: top;
}

.cafe-magico h3 {
    font-size: 36px;
}

.cafe-magico p {
    font-size: 18px;
}

/*secção 03*/

.secao03 {
    display: inline-block;
    width: 581px;
    padding: 144px 203px 80px;
    vertical-align: top;
}

.img-secao03 {
    display: inline-block;
    padding: 144px 80px 0px 32px;
    width: 704px;
    height: 560px;
}


.secao03 h3 {
    font-size: 28px;
}

.secao03 p {
    font-size: 18px;
    padding: 12px 0px 0px;
}